@config "../tailwind.config.js";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: "SpaceGrotesk";
    src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

@import "tailwindcss";

:root {
    --color-light: #EEEEF2;
    --color-white: #FFFFFF;
    --color-dark: #101828;
    --color-darker: #030303;
    --color-gray: #333333;
    --color-black: #0F0F0F;
    --color-theme: var(--color-gray);
}

:root[data-theme="dark"] {
    --color-theme: var(--color-black);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SpaceGrotesk', sans-serif;
    background: var(--color-theme);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #374151;
}