@config "../tailwind.config.js";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: "SpaceGrotesk";
    src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

@import "tailwindcss";

:root {
    --color-light: #EEEEF2;
    --color-white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SpaceGrotesk', sans-serif;
    background: #EEEEF2;
    /* Use custom font */
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #374151;
}